/* @function border ($width, $height, $border-radius) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
}
*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a, i {
  text-decoration: none; }
  a:hover, i:hover {
    -webkit-transition-property: color background-color;
    transition-property: color background-color;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

i {
  color: #7e7e7e; }

button, input {
  outline: none;
  border: none; }

div {
  margin: auto; }

.grid_960 {
  width: 960px;
  padding: 0px 10px 0px 10px; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Aller;
  src: url(../fonts/Aller_Lt.ttf); }

html {
  font-family: Aller; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 960px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  background-color: #242424;
  position: fixed;
  z-index: 2;
  width: 100%; }

#top-bar h1 {
  float: left;
  font-size: 26px;
  line-height: 13px;
  margin-bottom: 0px; }

#top-bar input, #top-bar i, #top-bar #login {
  float: right;
  height: 45px;
  border: 0px;
  color: #7e7e7e; }

#top-bar input {
  font-size: 12px;
  padding-left: 20px;
  border-left: double;
  background-color: #242424; }
  #top-bar input:selected {
    border: 0px; }

#top-bar i {
  padding-top: 14px;
  padding-right: 15px;
  height: 45px;
  border-right: 1px solid #7e7e7e; }
  #top-bar i:hover {
    color: #ffffff; }

#logo {
  color: #57c5a0; }

#header-bg {
  background-color: #ffffff; }

#login {
  float: right;
  font-size: 11px;
  border: 1px solid #7e7e7e; }
  #login:first-child {
    padding-left: 20px;
    padding-right: 20px; }
    #login:first-child a {
      color: #7e7e7e;
      line-height: 45px; }
      #login:first-child a:hover {
        color: #ffffff; }

#wrap-specials {
  background-color: #242424;
  width: 100%; }

#specials {
  padding: 25px 0px 25px 10px; }
  #specials div {
    display: inline-block;
    text-align: center;
    height: 180px;
    width: 300px; }
    #specials div:first-child {
      background-image: url(../img/on-sale.png); }
    #specials div:nth-child(2) {
      background-image: url(../img/special-offers.png);
      margin: 0px 15px 0px 15px; }
    #specials div:last-child {
      background-image: url(../img/must-have.png); }
  #specials a {
    padding-top: 80px;
    color: #ffffff;
    font-size: 25px;
    display: block;
    height: inherit;
    width: inherit; }
  #specials span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px 20px 40px; }

#wrap-main-bottom {
  background-color: #edece7; }

.wrap-head {
  padding-bottom: 15px; }
  .wrap-head h1 {
    font-size: 20px;
    float: left;
    margin-right: 20px; }

#wrap-new li, #wrap-best li {
  height: 270px;
  width: 300px;
  float: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee; }
  #wrap-new li:nth-child(3n+2), #wrap-best li:nth-child(3n+2) {
    margin: 0 20px 0px 20px; }

#wrap-new a, #wrap-best a {
  color: #242424;
  height: 270px;
  display: block;
  background-color: #ffffff; }
  #wrap-new a:hover, #wrap-best a:hover {
    color: #57c5a0; }

#wrap-new img, #wrap-best img {
  border-bottom: 1px #eeeeee solid;
  margin-left: 50px; }

#wrap-new span, #wrap-best span {
  padding-left: 93px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 45px; }

#addons {
  float: left;
  margin-top: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px #dfdbd4 solid; }

blockquote {
  width: 220px;
  height: 185px;
  float: left;
  font-size: 12px;
  background-color: #dfdbd4;
  margin: 0px 20px 0px 0px;
  padding: 15px 20px 15px 20px; }
  blockquote:last-child {
    width: 460px;
    margin-right: 0px; }

.wrap-news {
  margin-top: 20px;
  height: 35px; }
  .wrap-news div {
    background-color: #57c5a0;
    margin-right: 10px;
    padding: 5px 7px;
    color: #ffffff;
    font-weight: bold;
    float: left;
    height: 35px;
    width: 35px;
    text-align: right; }
  .wrap-news p {
    line-height: 17px; }

footer {
  background-color: #242424;
  font-weight: bolder;
  font-size: 12px; }

.footer-top {
  padding: 20px 45px 0px 45px;
  color: #7e7e7e; }
  .footer-top div {
    width: 250px;
    height: relative;
    display: inline-block;
    float: left; }
    .footer-top div:nth-child(2) {
      margin-left: 60px; }
    .footer-top div:last-child {
      float: right; }
    .footer-top div p {
      font-style: italic; }
    .footer-top div img {
      height: 56px;
      width: 76px;
      margin-left: 5px;
      margin-bottom: 5px; }
    .footer-top div h2:last-child {
      padding-left: 5px; }

#bg-footer-mid {
  border-top: 1px solid #1c1c1c;
  width: 100%; }

.footer-mid {
  padding: 45px; }
  .footer-mid input {
    float: left;
    height: 35px;
    width: 210px;
    border: none;
    padding: 13px;
    font-style: italic;
    color: #7e7e7e;
    background-color: #2e2e2e; }
  .footer-mid button {
    background-color: #7e7e7e;
    float: left; }
  .footer-mid i:first-child {
    color: #2e2e2e;
    padding: 10.5px 8px 10.5px 8px; }
    .footer-mid i:first-child:hover {
      color: #ffffff; }

#ref {
  float: right; }
  #ref a {
    float: left;
    margin-left: 8px;
    width: 35px;
    height: 35px;
    padding-top: 2px;
    text-align: center;
    background-color: #2e2e2e; }
  #ref i {
    color: #7e7e7e;
    font-size: 20px;
    padding-top: 6px;
    height: 35px;
    width: 35px; }
    #ref i:hover {
      color: #ffffff; }

#bg-footer-bottom {
  background-color: #2e2e2e; }
  #bg-footer-bottom p {
    color: #7e7e7e;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    float: left; }

#footer-nav {
  float: right;
  padding-top: 40px; }
  #footer-nav a {
    color: #7e7e7e; }
    #footer-nav a:hover {
      color: #ffffff; }
    #footer-nav a::after {
      content: ' /'; }
    #footer-nav a:last-child::after {
      content: none; }
    #footer-nav a:hover::after {
      color: #7e7e7e; }

.show-all {
  float: right;
  margin-top: 10px; }
  .show-all a {
    color: #bcb5a7;
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-weight: bolder;
    float: left;
    font-size: 14px;
    border: 1px solid #bcb5a7; }
    .show-all a:hover {
      border-color: #898170; }
  .show-all i {
    float: right;
    padding-left: 10px;
    padding-top: 1px;
    color: #bcb5a7; }

.products-ref {
  float: left;
  font-size: 12px;
  margin-top: 20px; }

#nav-bar ul li {
  display: inline-block;
  float: left;
  border-right: 1px #eeeeee solid;
  font-weight: bolder;
  padding: 20px 0; }
  #nav-bar ul li:first-child {
    border-left: 1px #eeeeee solid; }
  #nav-bar ul li:nth-child(7) {
    float: right;
    display: none; }
  #nav-bar ul li:nth-child(8) {
    float: right;
    display: none; }
  #nav-bar ul li:nth-child(9) {
    float: right; }
  #nav-bar ul li:last-child {
    border-left: 1px #eeeeee solid;
    float: right; }

#nav-bar ul a {
  color: #242424;
  padding: 20px;
  letter-spacing: 0.8px; }
  #nav-bar ul a:hover {
    color: #57c5a0; }

header .fa-shopping-cart:hover,
header .fa-star-o:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s; }

header .fa-shopping-cart::after,
header .fa-star-o::after {
  content: '0';
  font-size: 14px;
  margin-left: 10px;
  padding: 4px 7px;
  color: #ffffff;
  background-color: #57c5a0;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

header .fa-star-o::after {
  background-color: #7e7e7e; }

#banner {
  background-color: #edece7;
  width: 50%;
  float: left; }

.scroll {
  float: right;
  height: 460px;
  width: 605px; }

.banner-img {
  position: absolute;
  opacity: 0;
  visibility: none;
  float: right;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.active {
  visibility: visible !important;
  opacity: 1; }

#wrap-banner {
  background-color: #edece7;
  padding-top: 103px;
  width: 100%; }

#wrap-text {
  float: right;
  width: 50%; }
  #wrap-text span {
    color: #ffffff;
    background-color: #57c5a0;
    margin-top: 70px;
    padding: 30px 10px;
    display: inline-block;
    font-size: 1em; }
  #wrap-text h1 {
    font-weight: normal;
    font-size: 2em;
    margin: 0; }
  #wrap-text p {
    font-size: 1em;
    margin: 0; }
  #wrap-text a {
    color: #7e7e7e; }
  #wrap-text i {
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff; }
    #wrap-text i:hover {
      color: #57c5a0; }

#wrap-slider {
  background-color: #2e2e2e;
  padding-top: 6px;
  width: 100%; }

#slider {
  background-color: #242424;
  padding: 2px 10px;
  max-width: 580px; }
  #slider div {
    float: left; }
    #slider div:nth-child(odd) {
      width: 180px;
      height: 6px; }
    #slider div:nth-child(even) {
      width: 2px;
      height: 6px;
      margin: 0 4px;
      background-color: #2e2e2e; }

#slider-text {
  width: 580px; }
  #slider-text a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 0 25px;
    color: #7e7e7e;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    float: left;
    width: 180px; }
    #slider-text a:hover {
      color: #ffffff; }
    #slider-text a span {
      font-size: 12px; }

.active-button {
  background-color: #57c5a0; }

.sale {
  height: 70px;
  width: 70px;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  margin-left: 220px;
  padding-top: 30px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #242424; }

.price {
  height: 70px;
  width: 70px;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  margin-left: 13px;
  margin-top: 200px;
  padding-top: 30px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #57c5a0; }

.Navigation {
  float: right;
  height: 50px;
  padding: 0;
  margin: 0; }

.Navigation i {
  float: right;
  padding-top: 2px;
  color: #ffffff; }

.Navigation li {
  height: 60px;
  width: 220px;
  float: left;
  text-align: center;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: #242424;
  margin-left: 20px; }

.Navigation a {
  padding: 19px;
  text-decoration: none;
  color: #ffffff;
  display: block; }

.Navigation li ul {
  position: absolute;
  z-index: 2;
  display: none;
  height: auto;
  width: 220px;
  margin-left: -20px;
  padding: 0; }

.Navigation li:hover ul {
  display: block; }

.Navigation a:hover,
.Navigation li:hover {
  background: #7e7e7e;
  -webkit-transition: background 0.4s;
  transition: background 0.4s; }

/*
.products-menu {
  margin-left: 20px;
  float: right;
  width: 220px;
  height: 60px;
  font-size: 18px;
  background-color: $color-black;
  color: $color-white;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;

  i{
    float: right;
    &:hover {color: $color-white;}
  }
}*/
#wrap-pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

#pop-up-menu {
  display: none;
  position: fixed;
  z-index: 41;
  left: 40%;
  top: 20%;
  width: 400px;
  height: 400px;
  background-color: #eeeeee; }
  #pop-up-menu i {
    float: right;
    padding: 10px; }
    #pop-up-menu i:hover {
      color: #57c5a0;
      cursor: pointer; }
  #pop-up-menu form {
    width: 75%;
    margin: auto;
    padding-top: 13%; }
  #pop-up-menu span {
    width: 100%;
    font-size: 50px;
    color: #57c5a0;
    text-align: center; }
  #pop-up-menu input {
    border: 1px solid #7e7e7e;
    padding: 12px 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 15px; }
  #pop-up-menu button {
    width: 100%;
    color: #7e7e7e;
    margin-bottom: 15px;
    padding: 12px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    border: 1px solid #7e7e7e; }
    #pop-up-menu button:hover {
      background-color: #57c5a0;
      border-color: #898170;
      color: #ffffff; }

.pop-up-image {
  position: fixed;
  display: block;
  width: 600px !important;
  height: 450px !important;
  background-color: red;
  z-index: 43;
  left: 35%;
  top: 10%;
  border: 5px #eeeeee solid;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

#twitterStyled .tweet {
  padding: 10px 10px 5px 10px;
  margin: 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #9bcfe2; }

#twitterStyled .tweet:nth-child(odd) {
  margin-right: 50px; }

#twitterStyled .tweet:nth-child(even) {
  margin-left: 50px; }

#twitterStyled .profile > img {
  display: none; }

#twitterStyled .tweet .tweet-actions {
  visibility: hidden; }

#twitterStyled .tweet:hover .tweet-actions {
  visibility: visible; }

#twitterStyled .stream {
  background-color: #7AC0DA;
  color: #fff; }

#twitterStyled .header {
  border-bottom: 1px dashed #fff;
  margin-bottom: 10px;
  padding-bottom: 5px; }

#twitterStyled .p-name {
  color: gold; }

#twitterStyled .p-nickname,
#twitterStyled .dt-updated {
  color: gold; }

.outofstock {
  height: 70px;
  width: 70px;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  margin-left: 220px;
  padding-top: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  background-color: orange; }

#wrap_product-menu {
  background-color: #2e2e2e;
  padding-top: 10px;
  padding-bottom: 10px; }

#shop-by {
  float: left; }
  #shop-by p {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff; }

.products-ref {
  float: left;
  font-weight: bolder;
  color: #bcb5a7; }
  .products-ref:hover {
    color: #242424; }
  .products-ref::after {
    content: '>';
    padding-left: 5px;
    padding-right: 5px; }

.list-style {
  float: right;
  padding: 5px 5px 3px 5px;
  margin-right: 5px;
  margin-top: 10px;
  border: 1px solid #bcb5a7;
  background-color: #edece7; }
  .list-style:hover {
    border-color: #898170; }
  .list-style i {
    color: #bcb5a7; }

#view-as {
  float: right;
  margin-top: 16px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bolder;
  color: #edece7; }

@media screen and (max-width: 768px) {
  .grid_960 {
    width: 762px;
    padding: 0; }
  #nav-bar ul li:nth-child(7) {
    float: left; }
  #nav-bar ul li:last-child {
    float: left; }
  #banner {
    width: 80%; }
  #wrap-text {
    position: absolute;
    left: 55%;
    z-index: 1; }
  #shop-by {
    display: none; }
  .Navigation {
    float: none; }
  #wrap-best li,
  #wrap-new li {
    width: 220px;
    padding-bottom: 40px; }
  #wrap-best img,
  #wrap-new img {
    width: 220px;
    margin-left: 0; }
  .show-all {
    margin-right: 40px; }
  .outofstock,
  .sale {
    margin-left: 13px; }
  #specials div {
    width: 220px; }
  #specials span {
    padding: 20px 10px; }
  blockquote:first-child {
    display: none; }
  iframe {
    display: none; }
  .footer-top div:nth-child(2) {
    display: none; }
  .pop-up-image {
    left: 10%; }
  .products-menu {
    width: 160px; } }

@media screen and (max-width: 320px) {
  .grid_960 {
    width: 320px;
    padding: 0; }
  #top-bar i,
  #top-bar input {
    display: none; }
  #nav-bar ul li {
    display: none;
    width: 25%;
    text-align: center; }
    #nav-bar ul li:nth-child(7) {
      display: block; }
    #nav-bar ul li:nth-child(8) {
      display: block;
      float: left; }
    #nav-bar ul li:nth-child(9) {
      display: block;
      float: left; }
    #nav-bar ul li:last-child {
      display: block; }
  #banner {
    width: 100%; }
  .scroll {
    width: 100%; }
  .banner-img {
    width: 320px; }
  #wrap-text {
    width: 95%;
    position: absolute;
    left: 0;
    z-index: 1; }
    #wrap-text span {
      margin-top: 10px; }
  #wrap_product-menu {
    display: none; }
  #wrap-main-bottom {
    display: none; }
  #wrap-best li,
  #wrap-new li {
    height: 270px;
    width: 300px;
    display: none;
    margin-bottom: 20px; }
    #wrap-best li:nth-child(3n+2),
    #wrap-new li:nth-child(3n+2) {
      margin: 0; }
  .outofstock,
  .sale {
    margin-left: 190px; }
  #addons,
  #wrap-slider,
  #wrap-specials,
  footer {
    display: none; }
  #pop-up-menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    #pop-up-menu span {
      display: none; } }
