.outofstock {
    height: 70px;
    width: 70px;
    color: $color-white;
    z-index: 1;
    position: absolute;
    margin-left: 220px;
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    background-color: orange;
}
