.sale {
    height: 70px;
    width: 70px;
    color: $color-white;
    z-index: 1;
    position: absolute;
    margin-left: 220px;
    padding-top: 30px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: $color-black;
}