.show-all {
    float: right;
    margin-top: 10px;
    a {
        color: $color-medium-biege;
        padding: 5px 20px 5px 20px;
        text-align: center;
        font-weight: bolder;
        float: left;
        font-size: 14px;
        border: 1px solid $color-medium-biege;
        &:hover {border-color: $color-brown;}
    }

    i {
      float: right;
      padding-left: 10px;
      padding-top: 1px;
      color: $color-medium-biege;
  }
}

.products-ref {
  float: left;
  font-size: 12px;
  margin-top: 20px;
}
