.pop-up-image {
  position: fixed;
  display: block;
  width: 600px !important; 
  height: 450px !important;
  background-color: red;
  z-index: 43;
  left: 35%;
  top: 10%;
  border: 5px $color-light-gray solid;
  border-radius: 5px;
} 