#nav-bar ul {
  li {
    display: inline-block;
    float: left;
    border-right: 1px $color-light-gray solid;
    font-weight: bolder;
    padding: 20px 0;

    &:first-child {
      border-left: 1px $color-light-gray solid;
    }

    &:nth-child(7) {
      float: right;
      display: none;
    }

    &:nth-child(8) {
      float: right;
      display: none;
    }

    &:nth-child(9) {
      float: right;
    }

    &:last-child {
      border-left: 1px $color-light-gray solid;
      float: right;
    }
  }

  a {
    color: $color-black;
    padding: 20px;
    letter-spacing: 0.8px;

    &:hover {
      color: $color-aqua;
    }
  }
}

header {
  .fa-shopping-cart,
  .fa-star-o {
    &:hover {
      transform: rotateY(360deg);
      transition-duration: 1.0s;
    }

    &::after {
      content: '0';
      font-size: 14px;
      margin-left: 10px;
      padding: 4px 7px;
      color: $color-white;
      background-color: $color-aqua;
      border-radius: 5px;
    }
  }
}

header .fa-star-o {
  &::after {
    background-color: $color-medium-gray;
  }
}
