#wrap-pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

#pop-up-menu {
  display: none;
  position: fixed;
  z-index: 41;
  left: 40%;
  top: 20%;
  width: 400px;
  height: 400px;
  background-color: $color-light-gray;

  i {
    float: right;
    padding: 10px;

    &:hover {
      color: $color-aqua;
      cursor: pointer;
    }
  }

  form {
    width: 75%;
    margin: auto;
    padding-top: 13%;
  }

  span {
    width: 100%;
    font-size: 50px;
    color: $color-aqua;
    text-align: center;
  }

  input {
    border: 1px solid $color-medium-gray;
    padding: 12px 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
    color: $color-medium-gray;
    margin-bottom: 15px;
    padding: 12px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    border: 1px solid $color-medium-gray;

    &:hover {
      background-color: $color-aqua;
      border-color: $color-brown;
      color: $color-white;
    }
  }
}
