.Navigation {
  float: right;
  height: 50px;
  padding: 0;
  margin: 0;
}

.Navigation i {
  float: right;
  padding-top: 2px;
  color: $color-white;
}

.Navigation li {
  height: 60px;
  width: 220px;
  float: left;
  text-align: center;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: $color-black;
  margin-left: 20px;
}

.Navigation a {
  padding: 19px;
  text-decoration: none;
  color: $color-white;
  display: block;
}

.Navigation li ul {
  position: absolute;
  z-index: 2;
  display: none;
  height: auto;
  width: 220px;
  margin-left: -20px;
  padding: 0;
}

.Navigation li:hover ul {
  display: block;
}

.Navigation a:hover,
.Navigation li:hover {
  background: $color-medium-gray;
  transition: background 0.4s;
}
/*
.products-menu {
  margin-left: 20px;
  float: right;
  width: 220px;
  height: 60px;
  font-size: 18px;
  background-color: $color-black;
  color: $color-white;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;

  i{
    float: right;
    &:hover {color: $color-white;}
  }
}*/
