// Banner & Text
#banner {
  background-color: $color-biege;
  width: 50%;
  float: left;
}

.scroll {
  float: right;
  height: 460px;
  width: 605px;
}

.banner-img {
  // 605px*460px
  position: absolute;
  opacity: 0;
  visibility: none;
  float: right;
  transition: opacity 0.4s;
}

.active {
  visibility: visible !important;
  opacity: 1;
}

#wrap-banner {
  background-color: $color-biege;
  padding-top: 103px;
  width: 100%;
}

#wrap-text {
  float: right;
  width: 50%;
  span {
    color: $color-white;
    background-color: $color-aqua;
    margin-top: 70px;
    padding: 30px 10px;
    display: inline-block;
    font-size: 1em;
  }
  h1 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
  }
  p {
    font-size: 1em;
    margin: 0;
  }
  a {
    color: $color-medium-gray;
  }
  i {
    padding: 10px;
    margin-top: 20px;
    background-color: $color-white;
    &:hover {
      color: $color-aqua;
    }
  }
}

// Slider
#wrap-slider {
  background-color: $color-gray;
  padding-top: 6px;
  width: 100%;
}

#slider {
  background-color: $color-black;
  padding: 2px 10px;
  max-width: 580px;
  div {
    float: left;
    &:nth-child(odd) {
      width: 180px;
      height: 6px;
    }
    &:nth-child(even) {
      width: 2px;
      height: 6px;
      margin: 0 4px;
      background-color: $color-gray;
    }
  }
}

#slider-text {
  width: 580px;
  a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 0 25px;
    color: $color-medium-gray;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    float: left;
    width: 180px;
    &:hover {
      color: $color-white;
    }
    span {
      font-size: 12px;
    }
  }
}

.active-button {
  background-color: $color-aqua;
}