#twitterStyled .tweet {
  padding: 10px 10px 5px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #9bcfe2;
}

#twitterStyled .tweet:nth-child(odd) {
  margin-right: 50px;
}

#twitterStyled .tweet:nth-child(even) {
  margin-left: 50px;
}

#twitterStyled .profile>img {
  display: none;
}

#twitterStyled .tweet .tweet-actions {
  visibility: hidden;
}

#twitterStyled .tweet:hover .tweet-actions {
  visibility: visible;
}

#twitterStyled .stream {
  background-color: #7AC0DA;
  color: #fff;
}

#twitterStyled .header {
  border-bottom: 1px dashed #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#twitterStyled .p-name {
  color: gold;
}

#twitterStyled .p-nickname,
#twitterStyled .dt-updated {
  color: gold;
}