footer {
  background-color: $color-black;
  font-weight: bolder;
  font-size: 12px;
}

.footer-top {
  padding: 20px 45px 0px 45px;
  color: $color-medium-gray;
  div {
    width: 250px;
    height: relative;
    display: inline-block;
    float: left;
    &:nth-child(2) {
      margin-left: 60px;
    }
    &:last-child {
      float: right;
    }
    p {
      font-style: italic;
    }
    img {
      height: 56px;
      width: 76px;
      margin-left: 5px;
      margin-bottom: 5px;
    }
    h2:last-child {
      padding-left: 5px
    }
  }
}

#bg-footer-mid {
  border-top: 1px solid #1c1c1c;
  width: 100%;
  //padding: 35px 40px 40px 40px;
}

.footer-mid {
  padding: 45px;
  input {
    float: left;
    height: 35px;
    width: 210px;
    border: none;
    padding: 13px;
    font-style: italic;
    color: $color-medium-gray;
    background-color: $color-gray;
  }
  button {
    background-color: $color-medium-gray;
    float: left;
  }
  i:first-child {
    color: $color-gray;
    padding: 10.5px 8px 10.5px 8px;
    &:hover {
      color: $color-white;
    }
  }
}

#ref {
  float: right;
  a {
    float: left;
    margin-left: 8px;
    width: 35px;
    height: 35px;
    padding-top: 2px;
    text-align: center;
    background-color: $color-gray;
  }
  i {
    color: $color-medium-gray;
    font-size: 20px;
    padding-top: 6px;
    height: 35px;
    width: 35px;
    &:hover {
      color: $color-white;
    }
  }
}

#bg-footer-bottom {
  background-color: $color-gray;
  p {
    color: $color-medium-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    float: left;
  }
}

#footer-nav {
  float: right;
  padding-top: 40px;
  a {
    color: $color-medium-gray;
    &:hover {
      color: $color-white;
    }
    &::after {
      content: ' /';
    }
    &:last-child::after {
      content: none;
    }
    &:hover::after {
      color: $color-medium-gray;
    }
  }
}