header {
  background-color: $color-black;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#top-bar {
  h1  {
    float: left;
    font-size: 26px;
    line-height: 13px;
    margin-bottom: 0px;
  }

  input, i, #login {
    float: right;
    height: 45px;
    border: 0px;
    color: $color-medium-gray;
  }

  input {
    font-size: 12px;
    padding-left: 20px;
    border-left: double;
    background-color: $color-black;
    &:selected{border: 0px;}
  }

  i {
    padding-top: 14px;
    padding-right: 15px;
    height: 45px;
    border-right: 1px solid $color-medium-gray;
    &:hover {color: $color-white;}
  }
}

#logo {color: $color-aqua;}

#header-bg {background-color: $color-white;}

#login {
  float: right;
  font-size: 11px;
  border: 1px solid $color-medium-gray;
  &:first-child {
    padding-left: 20px;
    padding-right: 20px;

  a {
    color: $color-medium-gray;
    line-height: 45px;
    &:hover {color: $color-white;}
    }
  }
}
