#wrap-main-bottom {background-color: $color-biege;}

.wrap-head {
  padding-bottom: 15px;

  h1 {
    font-size: 20px;
    float: left;
    margin-right: 20px;
  }
}

#wrap-new, #wrap-best {
  li{
    height: 270px;
    width: 300px;
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-light-gray;
    &:nth-child(3n+2) {margin: 0 20px 0px 20px;}
    }

    a {
      color: $color-black;
      height: 270px;
      display: block;
      background-color: $color-white;
      &:hover {color: $color-aqua;}
    }

    img {
      border-bottom: 1px $color-light-gray solid;
      margin-left: 50px;
    }
    span {
      padding-left: 93px;
      font-size: 18px;
      font-weight: bolder;
      line-height: 45px;
    }
}

#addons {
  float: left;
  margin-top: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px $color-light-brown solid;
}

blockquote {
  width: 220px;
  height: 185px;
  float: left;
  font-size: 12px;
  background-color: $color-light-brown;
  margin: 0px 20px 0px 0px;
  padding: 15px 20px 15px 20px;
  &:last-child {
    width: 460px;
    margin-right: 0px;
  }
}

.wrap-news {
  margin-top: 20px;
  height: 35px;

  div {
    background-color: $color-aqua;
    margin-right: 10px;
    padding: 5px 7px;
    color: $color-white;
    font-weight: bold;
    float: left;
    height: 35px;
    width: 35px;
    text-align: right;
  }

  p {line-height: 17px;}
}
