
// Specials bar
#wrap-specials {
  background-color: $color-black;
  width: 100%;
}

#specials {
  padding: 25px 0px 25px 10px;
  div {
    display: inline-block;
    text-align: center;
    height: 180px;
    width: 300px;
    &:first-child {background-image: url(../img/on-sale.png)}
    &:nth-child(2) {
      background-image: url(../img/special-offers.png);
      margin: 0px 15px 0px 15px;
    }
    &:last-child {background-image: url(../img/must-have.png);}
  }

  a {
    padding-top: 80px;
    color: $color-white;
    font-size: 25px;
    display: block;
    height: inherit;
    width: inherit;
  }

  span{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px 20px 40px;
  }
}
