///---------------------------------------------------
///-----------------Color-variables-------------------
///---------------------------------------------------

/// Color Gray
$color-gray: #2e2e2e !global;

/// Color Light Gray
$color-light-gray: #eeeeee !global;

/// Color Mediuam Gray
$color-medium-gray: #7e7e7e !global;

///Color Light Brown
$color-light-brown: #dfdbd4;

///Color Light Brown
$color-brown: #898170;

/// Color Black
$color-black: #242424 !global;

/// Color Biege
$color-biege: #edece7 !global;

/// Color Medium Biege
$color-medium-biege: #bcb5a7 !global;

/// Color White
$color-white: #ffffff !global;

/// Color Aqua
$color-aqua: rgb(87, 197, 160) !global;

///---------------------------------------------------
///------------------Width-variables------------------
///---------------------------------------------------

/// Max width of container
$max-width: 960px;
