/// Include basics styles for element

/// All elements boreder-box
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/// Off decoration of Links & styles :hover.
a, i {
  text-decoration: none;
  &:hover {
    transition-property: color background-color;
    transition-duration: 0.3s;
  }
}

i {
  color: $color-medium-gray;
}

button, input {
  outline: none;
  border: none;
}

div {
  margin: auto;
}

.grid_960 {
  width: 960px;
  padding: 0px 10px 0px 10px;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
