@media screen and (max-width: 320px) {
  .grid_960 {
    width: 320px;
    padding: 0;
  }
  /// Header search
  #top-bar {
    i,
    input {
      display: none;
    }
  }
  ///  Navigation Bar
  #nav-bar ul {
    li {
      display: none;
      width: 25%;
      text-align: center;
      &:nth-child(7) {
        display: block;
      }
      &:nth-child(8) {
        display: block;
        float: left;
      }
      &:nth-child(9) {
        display: block;
        float: left;
      }
      &:last-child {
        display: block;
      }
    }
  }
  /// Image bar setting for mobile view
  #banner {
    width: 100%;
  }
  .scroll {
    width: 100%;
  }
  .banner-img {
    width: 320px;
  }
  #wrap-text {
    width: 95%;
    position: absolute;
    left: 0;
    z-index: 1;
    span {
      margin-top: 10px;
    }
  }
  #wrap_product-menu {
    display: none;
  }
  /// main bottom
  #wrap-main-bottom {
    display: none;
  }
  /// Products
  #wrap-best,
  #wrap-new {
    li {
      height: 270px;
      width: 300px;
      display: none;
      margin-bottom: 20px;
      &:nth-child(3n+2) {
        margin: 0;
      }
    }
  }
  /// Badges
  .outofstock,
  .sale {
    margin-left: 190px;
  }
  /// Disabled blocks (Display: none;)
  #addons,
  #wrap-slider,
  #wrap-specials,
  footer {
    display: none;
  }
  #pop-up-menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    span {
      display: none;
    }
  }
}