@media screen and (max-width: 768px) {
  /// Default container
  .grid_960 {
    width: 762px;
    padding: 0;
  }
  /// Navigation bar
  #nav-bar ul {
    li {
      &:nth-child(7) {
        float: left;
      }
      &:last-child {
        float: left;
      }
    }
  }
  /// Image bar
  #banner {
    width: 80%;
  }
  #wrap-text {
    position: absolute;
    left: 55%;
    z-index: 1;
  }
  /// Sort, product menu
  #shop-by {
    display: none;
  }
  .Navigation {
    float: none;
  }
  /// Products
  #wrap-best,
  #wrap-new {
    li {
      width: 220px;
      padding-bottom: 40px;
    }
    img {
      width: 220px;
      margin-left: 0;
    }
  }
  /// Buttons position fix
  .show-all {
    margin-right: 40px;
  }
  /// Badges
  .outofstock,
  .sale {
    margin-left: 13px;
  }
  /// Special bar
  #specials {
    div {
      width: 220px;
    }
    span {
      padding: 20px 10px;
    }
  }
  /// Addons (Disable block "Free Shipping")
  blockquote {
    &:first-child {
      display: none;
    }
  }
  /// Twitter Widget (Disable block "Twitter Widget")
  iframe {
    display: none;
  }
  .footer-top div:nth-child(2) {
    display: none;
  }
  .pop-up-image {
  left: 10%; 
  }
  /// PAGE PRODUCTS
.products-menu {
  width: 160px;
}

}


