#wrap_product-menu {
  background-color: $color-gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

#shop-by {
  float: left;
  p {
    font-size: 20px;
    line-height: 20px;
    color: $color-white;
  }
}

.products-ref {
  float: left;
  font-weight: bolder;
  color: $color-medium-biege;
  &:hover {color: $color-black;}
  &::after {
    content: '>';
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-style {
  float: right;
  padding: 5px 5px 3px 5px;
  margin-right: 5px;
  margin-top: 10px;
  border: 1px solid $color-medium-biege;
  background-color: $color-biege;
  &:hover {border-color: $color-brown;}

  i {color: $color-medium-biege;}
}

#view-as {
  float: right;
  margin-top: 16px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bolder;
  color: $color-biege;
}
